# These files are rewritten by Vivado with a different layout.
# We want to keep the original hand-made layout with comments.
CORE/CORE-R3.xpr
CORE/CORE-R6.xpr
CORE/CORE.xdc
M2M/MEGA65-R3.xdc
M2M/MEGA65-R6.xdc
M2M/common.xdc
# end
# Ignore the changed submodule?
# M2M/QNICE
# end
CORE/*.cache
CORE/*.hw
CORE/*.runs
CORE/*.sim
CORE/.Xil
CORE/vivado*.jou
CORE/vivado*.log
CORE/vivado_pid*
CORE/*ip_user_files
CORE/webtalk*.*
CORE/m2m-rom/*.def
CORE/m2m-rom/*.lis
CORE/m2m-rom/*.out
CORE/m2m-rom/*.rom
CORE/m2m-rom/globals.asm
CORE/m2m-rom/osm_const.asm
CORE/m2m-rom/shell_fhandles.asm
CORE/m2m-rom/shell_fh_ptrs.asm
CORE/load_bitstream.sh
CORE/make_qasm.sh
CORE/CORE-R6.srcs/constrs_1/new/debug.xdc
M2M/rom/*.lis
M2M/rom/*.out
M2M/rom/*.rom
M2M/tools/petcfg
M2M/video_filters/*.out
*.bit
*.cor
*.zip
v0.*
MegaPET-v*
convert
load
vivado.jou
vivado.log
